@import '../../../shared/styles/_variables.scss';

case-detail-view {
	display: block;
	position: absolute;
	height: 100%;
	overflow-y: auto;
	width: 100%;

	.case-detail-view__body{
		padding-top: 55px;
	}

	.case-detail-view__body zs-map{
		position: relative;
		height: 35vh;

		.ol-overlaycontainer-stopevent{
			z-index: 9;
		}

		.map-popup{
			margin-top: -70px;
			position: absolute;

			.map-popup-body{
				.popup-arrow {
					position: absolute;
					bottom: 0px;
					left:50%;
					margin-left:-3px;
					background: #fff;
				}
				
				.popup-arrow:after, .popup-arrow:before {
					top: 100%;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}

				.popup-arrow:after {
					border-color: rgba(255, 255, 255, 0);
					border-top-color: #fff;
					border-width: 7px;
					margin-left: -6px;
				}

				.popup-arrow:before {
					border-color: rgba(221,221,221,0);
					border-top-color: #ddd;
					border-width: 5px;
					margin-left: -5px;
				}
			}
		}
	}

	.case-detail-view__body .zs-map-container{
		height: 35vh !important;
		box-shadow: none;
	}

	.case-detail-view__button-container{
		width: 100%;
		padding: 15px;
		
		button{
			width: 100%;
			height: 50px;
		}
	}

	.case-detail-view__list {
		margin-top: 0;
		padding: 0px 20px 60px 20px;
	}

	.case-detail-view__item{
		margin-bottom: 20px;
	}

	.case-detail-view__label{
		font-size:1rem;
		color: #999;
		font-weight: 500;
		line-height: 1.7;
	}

	.case-detail-view__value{
		color: #000;
		font-size:1.067rem;
		white-space: pre-wrap;

		&:first-letter{
			text-transform: capitalize;
		}

		p, ol, ul, li {
			font-family: "Roboto", sans-serif !important;
			font-size:1.067rem !important;
			font-weight: normal !important;
			color: #000 !important;
			line-height: 24.0075px !important;
		}

		p {
			margin-top: 2px;
		}

		ol, ul{
			margin-bottom: 15px;
			padding-left: 30px;
		}

		ol li{
			list-style-type: decimal;
		}

		ul li{
			list-style-type: disc;
		}
	}

	.case-detail-view__file{
		margin: 5px 0;

		.case-detail-view__value{
			display: inline-block;
			vertical-align: middle;
			
			&:first-letter{
				text-transform: none;
			}
		}

		zs-icon{
			display: inline-block;
			font-size: 24px;
			vertical-align: middle;
		}

		.case-detail-view__value{
			color: $primary-color;
			text-decoration: underline;
		}
	}
}

.case-detail-view__header {
	position: fixed;
	width: 100%;
	padding: 10px;
	background-size: cover;
	background-position: center;
	z-index: 10;
	color: #fff;

	&.case-detail-view__header--modal{
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
		background: rgb(240,240,240);
		color: #000;
	}

	.case-detail-view__header-background {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
		z-index: 0;
	}

	.case-detail-view__header-container {
		display: flex;
		position: relative;
		z-index: 1;
		width: 100%;
	}

	.case-detail-view__header-button {
		background: none;
		border: 0;
		font-size: 1.6em;
		width:36px;
		height:36px;
		line-height: 36px;
		border-radius:100%;
		display: flex;
		padding: 0 5px;
		margin-right: 5px;

		&:hover {
			background:rgba(255,255,255,.15);
		}

	}

	.case-detail-view__header-title {
		font-size: 18px;
		display: flex;
		align-items:center;
		word-wrap: initial;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-top: -2px;
	}

}

@media #{$large-only}{
	.case-detail-view__list{
		max-width:60rem;
	}
}
