[% USE Scalar %]
[% USE JSON %]

[% # mintloaders in this scope will upload their files here %]
[% mintloader_upload_destination = '/pip/zaak/' _ zaak.id %]

[% case_closed = zaak.is_afgehandeld %]


<div class="pip-case"
  data-ng-controller="nl.mintlab.pip.PipCaseController"
  data-ng-init="caseId='[% zaak.id %]';isClosed=[% case_closed ? 'true' : 'false' %]">

    [% IF case_closed %]
    <div class="pip-case-result">
        <i class="icon icon-font-awesome icon-check"></i> Resultaat: [% zaak.resultaat %]
    </div>
    [% END %]

    <div class="pip-case-title pip-page-title">
        <h1>[% zaak.id %]: [% zaak.zaaktype_node_id.titel | html_entity %]</h1>
        <span class="pip-case-subject">
            [% zaak.onderwerp_extern | html_entity %]
        </span>
    </div>

    [% fasen = zaak.scalar.fasen %]
  
    <div class="pip-case-form pip-case-component">
        <h2>Zaakbehandeling</h2>
        [% WHILE (fase = fasen.next) %]
            [% statusnumber = fase.status %]
            [% rule_result.active_attributes = rule_result.active_attributes_per_status.$statusnumber%]
        <div class="pip-case-form-phase" data-ng-controller="nl.mintlab.core.IsolationController" data-ng-init="collapsed=[% fase.status != (zaak.milestone + 1) ? 'true': 'false' %];collapsible=[% fase.status > (zaak.milestone + 1) ? 'false' : 'true' %]" data-ng-class="{'pip-case-form-phase-collapsed': collapsed, 'pip-case-form-phase-collapsible': collapsible }">
            [% PROCESS plugins/pip/case/phase.tt %]
            <div class="pip-case-form-phase-body ng-cloak" data-ng-show="!collapsed">
                <form name="caseForm" class="ng-cloak ezra_no_waitstart" method="post" enctype="multipart/form-data" zs-case-webform zs-case-webform-rule-manager data-zs-case-webform-params="rule_params" data-zs-case-webform-rules="" zs-case-webform-immediate="true">
                <script type="text/zs-scope-data">
                    [% rule_result = rule_engine({ 'case.number_status' => fase.status }, zaak);


                    JSON.encode(rule_result) %]
                </script>
                [% PROCESS zaak/fields.tt
                    requested_fase = fase
                    from_pip = 1
                    rule_result = rule_result
                    IF fase.status <= (zaak.milestone + 1)
                %]
                </form>
            </div>
        </div>
        [% END %]
    </div>

    [%- IF pip_subcases %]
    <div class="pip-case-subcase pip-case-component">
        <h2>Vervolgacties</h2>
      [%- FOR subcase = pip_subcases %]
        <a href="[% subcase.uri %]">[% subcase.label %]</a>
        <br/>
      [% END %]
    </div>
   [%- END %]


    <div class="pip-case-messages pip-case-component">
        <h2>Berichten</h2>
        [% PROCESS zaak/elements/messages.tt %]
    </div>
    
    <div class="pip-case-documents pip-case-component ng-cloak" data-ng-controller="nl.mintlab.pip.PipDocumentController">
        <h2>Documenten</h2>
       

        <iframe id="pip-documents-iframe" src="/my-pip/documents/[% zaak.get_column('uuid') | html_entity %]?case_status=[% case_closed ? 'closed' : 'open' %]"></iframe>

    </div>

    [% IF zaak.locatie_zaak %]
    <div class="pip-case-location pip-case-component">
        <h2>Locatie</h2>
        [% PROCESS zaak/elements/view_maps.tt %]
    </div>
    [% END %]

</div>
