<ul class="file-upload-list">

	<li class="file-upload" ng-repeat="upload in vm.getCurrentUploads()"
		ng-class="{ error: upload.status === 'error', completed: upload.status === 'completed', progress: upload.status === 'progress' }"
	>
		<zs-icon icon-type="file"></zs-icon>
		<div class="file-upload-label">{{::upload.name}}</div>
		<div class="file-upload-progress-bar" ng-style="{ width: upload.percentage + '%' }">
		</div>
		<div class="file-upload-progress-percentage">
			{{upload.percentage}}%
		</div>
	</li>

</ul>

<div class="file-uploader">

	<div class="file-upload-zone"
		ngf-drop="vm.handleFileDrop($files)"
		ngf-drag="vm.handleFileDrag($isDragging, $className, $event)"
		ngf-drag-over-class="'dragover'"
		ngf-disabled="vm.isDropDisabled()"
		ngf-multiple="false"
		ngf-keep="false"
		ngf-max-files="vm.getFileLimit()"
		ngf-min-size="vm.getMinSize()"
		ngf-max-size="vm.getMaxSize()"
		ngf-pattern="vm.getFilenamePattern()"
	>
		<button
			ngf-select="vm.handleFileSelect($files)"
			ngf-disabled="vm.isSelectDisabled()"
			ngf-multiple="vm.allowMultiple()"
			ngf-keep="false"
			ngf-max-files="vm.getFileLimit()"
			ngf-min-size="vm.getMinSize()"
			ngf-max-size="vm.getMaxSize()"
			ngf-pattern="vm.getFilenamePattern()"
			class="btn btn-secondary"
			type="button"
		>
			Bestand toevoegen
		</button>

		<div class="file-uploader-drop-message">Of sleep je bestanden hierheen</div>

	</div>

</div>

