[% nowrapper=1 %]
[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

[% layout_type = 'simple' %]

[% USE Dumper %]

[% IF is_activation;
  stap_active = "Accountactivatie bevestigen";
ELSE;
  stap_active = "Registratie bevestigen";
END; %]

<div id="loginwrap" class="alt-auth alt-auth-smscode">
    <div class="block">
        <div class="block-header">
            <h1>Registreer een account</h1>
        </div>
        <div class="block-content clearfix">
            <ul class="form-navigation"> 
                <li class="stap first done">Registratiegegevens</li>
                <li class="stap active">[% stap_active %]</li>
            </ul>
            <div class="alt-auth-small-form">

                    <div>
                        <p class="alt-auth-intro">

                        U heeft een activatiecode ontvangen via SMS. Vul deze hieronder in om uw registratie te voltooien.

                        [% IF twofactor_error %]
                            <span class="alt-auth-error">[% twofactor_error %]</span>
                        [% END %]

                    </p>
                        <form action="[% c.uri_for('/auth/twofactor/verify_registration_factor') | html_entity %]" method="POST" class="zvalidate">
                            <div class="row">
                                <div><label for="authcode">Activatiecode *</label></div>
                                <div class="column"><input type="text" name="factor" id="authcode">
                                [% PROCESS widgets/general/validator.tt %]</div>
                            </div>

                            <button type="submit" value="Code controleren" class="button button-primary">
                                <span class="a">Code controleren</span>
                            </button>
                            <br>
                        </form>
                    </div>

            </div>
        </div>
    </div>
</div> 

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
