@import "../../../../../../../shared/styles/variables";

.tasks-table-wrapper {
  position: absolute;
  overflow-y: auto;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;

  [column-id="caseNumber"] {
    width: 145px;
  }
}
