[% case_type_id = zaak ? zaak.get_column('zaaktype_id') : zaaktype_node.get_column('zaaktype_id') %]

[% supersaas_interface = c.model('DB::Interface').search_active({module => 'supersaas'}) %]

[% IF supersaas_interface %]
    [% supersaas_product = supersaas_interface.process_trigger('getProduct', {magic_string => kenmerk.bibliotheek_kenmerken_id.magic_string}) %]
[% END %]

[% # in /form context aanvrager is only available on the stash %]
[% aanvrager = aanvrager || zaak.aanvrager_object %]

<span class="ezra_qmatic_appointment_edit veldoptie-qmatic" data-ng-controller="nl.mintlab.case.SuperSaaSAppointmentController" data-ng-init="appointment='[% veldoptie_value %]';productLinkID='[% supersaas_product.schedule_id %]';inputFieldName='[% veldoptie_name %]';aanvrager='betrokkene-[% aanvrager.btype %]-[% aanvrager.ex_id %]'" data-zs-popup="'/html/case/supersaas.html'">

    [% IF supersaas_can_edit == 1 %]
    <button class="button button-secondary button-small" [% UNLESS supersaas_interface %]disabled="disabled" data-zs-title="Er is iets misgegaan. Neem contact op met de gemeente." data-ng-click="void(0)"[% ELSE %]data-ng-click="openPopup()"[% END %] data-ng-click="openPopup()" type="button"> Afspraak [% veldoptie_value ? 'bewerken':'plannen' %]</button>
    [% END %]

    <div data-ng-show="confirmedAppointmentTimeStart&&confirmedAppointmentTimeFinish">
        Je hebt een afspraak gepland op <strong><[confirmedAppointmentTimeStart | date:'longDate']></strong>
        om <strong><[confirmedAppointmentTimeStart | date:'shortTime']></strong>
    </div>
    
    <script type="text/ng-template" id="/html/case/supersaas.html">
        <div class="qmatic-modal" data-zs-modal data-ng-init="title='Afspraak bewerken'">

            <div class="qmatic-modal-intro" data-ng-show="confirmedAppointmentTimeStart&&confirmedAppointmentTimeFinish">
                e hebt een afspraak gepland op <strong><[confirmedAppointmentTimeStart | date:'longDate']></strong>
                om <strong><[confirmedAppointmentTimeStart | date:'shortTime']></strong>. 
                Om deze afspraak te wijzigen, kies hieronder een ander moment:
            </div>
        
            <ul class="qmatic-modal-list qmatic-modal-list-day">
                <li class="qmatic-modal-list-item" data-ng-repeat="date in dates">
                    <label class="qmatic-modal-list-item-label">
                        <input class="qmatic-modal-list-item-input" name="calendar_date" type="radio" data-ng-checked="date==appointmentDate" data-ng-click="setAppointmentDate(date)"/>
                            <[date | date:'fullDate' ]>
                    </label>
                </li>
            </ul>
        
            <ul class="qmatic-modal-list qmatic-modal-list-time">
                <li class="qmatic-modal-list-item" data-ng-repeat="slot in times">
                    <label class="qmatic-modal-list-item-label">
                        <input class="qmatic-modal-list-item-input" name="calendar_time" type="radio" data-ng-checked="slot.start==appointmentTimeStart&&slot.finish==appointmentTimeFinish" data-ng-click="setAppointmentTime(slot)"/>
                        <[getTimeLabel(slot)]>
                    </label>
                </li>
            </ul>
            
            <div class="qmatic-actions">
                <button type="button" class="button button-primary" data-ng-click="book()" data-ng-disabled="!(appointmentDate&&appointmentTimeStart)">
                    Plan afspraak
                </button>
                <button data-ng-disabled="!(confirmedAppointmentTimeStart)" type="button" class="button button-secondary" data-ng-click="deleteAppointment()">
                    Verwijder afspraak
                </button>
            </div>

        </div>
    </script>

    [% IF supersaas_can_edit == 1 %]
    <input style="width: 450px;"

        type="hidden"
        [% my_veldoptie_id %]
        name="[% veldoptie_name %]"
        value="<[appointment]>"
        data-ng-model="appointment"
        class="veldoptie_[% veldoptie_type %]"
        data-zs-update-field
        data-zs-pip="[% pip %]"
        data-zs-case-id="[% zaak.id %]"
        />
    [% END %]
</span>
