[% RETURN IF c.user_exists -%]
[% nowrapper=1 -%]

<!DOCTYPE html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>[% IF page_title %][% page_title | html_entity %] - [% END %][% c.get_customer_info.naam_lang %]</title>

<link rel="apple-touch-icon" sizes="57x57" href="https://huisvoorklokkenluiders.nl/wp-content/themes/huisvoorklokkenluiders/images/favicons/apple-touch-icon-57x57.png?v=gAA8GOkyAd">
<link rel="apple-touch-icon" sizes="60x60" href="https://huisvoorklokkenluiders.nl/wp-content/themes/huisvoorklokkenluiders/images/favicons/apple-touch-icon-60x60.png?v=gAA8GOkyAd">
<link rel="apple-touch-icon" sizes="72x72" href="https://huisvoorklokkenluiders.nl/wp-content/themes/huisvoorklokkenluiders/images/favicons/apple-touch-icon-72x72.png?v=gAA8GOkyAd">
<link rel="apple-touch-icon" sizes="76x76" href="https://huisvoorklokkenluiders.nl/wp-content/themes/huisvoorklokkenluiders/images/favicons/apple-touch-icon-76x76.png?v=gAA8GOkyAd">
<link rel="apple-touch-icon" sizes="114x114" href="https://huisvoorklokkenluiders.nl/wp-content/themes/huisvoorklokkenluiders/images/favicons/apple-touch-icon-114x114.png?v=gAA8GOkyAd">
<link rel="apple-touch-icon" sizes="120x120" href="https://huisvoorklokkenluiders.nl/wp-content/themes/huisvoorklokkenluiders/images/favicons/apple-touch-icon-120x120.png?v=gAA8GOkyAd">
<link rel="apple-touch-icon" sizes="144x144" href="https://huisvoorklokkenluiders.nl/wp-content/themes/huisvoorklokkenluiders/images/favicons/apple-touch-icon-144x144.png?v=gAA8GOkyAd">
<link rel="apple-touch-icon" sizes="152x152" href="https://huisvoorklokkenluiders.nl/wp-content/themes/huisvoorklokkenluiders/images/favicons/apple-touch-icon-152x152.png?v=gAA8GOkyAd">
<link rel="apple-touch-icon" sizes="180x180" href="https://huisvoorklokkenluiders.nl/wp-content/themes/huisvoorklokkenluiders/images/favicons/apple-touch-icon-180x180.png?v=gAA8GOkyAd">
<link rel="icon" type="image/png" href="https://huisvoorklokkenluiders.nl/wp-content/themes/huisvoorklokkenluiders/images/favicons/favicon-32x32.png?v=gAA8GOkyAd" sizes="32x32">
<link rel="icon" type="image/png" href="https://huisvoorklokkenluiders.nl/wp-content/themes/huisvoorklokkenluiders/images/favicons/android-chrome-192x192.png?v=gAA8GOkyAd" sizes="192x192">
<link rel="icon" type="image/png" href="https://huisvoorklokkenluiders.nl/wp-content/themes/huisvoorklokkenluiders/images/favicons/favicon-96x96.png?v=gAA8GOkyAd" sizes="96x96">
<link rel="icon" type="image/png" href="https://huisvoorklokkenluiders.nl/wp-content/themes/huisvoorklokkenluiders/images/favicons/favicon-16x16.png?v=gAA8GOkyAd" sizes="16x16">
<link rel="manifest" href="https://huisvoorklokkenluiders.nl/wp-content/themes/huisvoorklokkenluiders/images/favicons/manifest.json?v=gAA8GOkyAd">
<link rel="shortcut icon" href="https://huisvoorklokkenluiders.nl/wp-content/themes/huisvoorklokkenluiders/images/favicons/favicon.ico?v=gAA8GOkyAd">
<meta name="msapplication-TileColor" content="#afd4d5">
<meta name="msapplication-TileImage" content="https://huisvoorklokkenluiders.nl/wp-content/themes/huisvoorklokkenluiders/images/favicons/mstile-144x144.png?v=gAA8GOkyAd">
<meta name="msapplication-config" content="https://huisvoorklokkenluiders.nl/wp-content/themes/huisvoorklokkenluiders/images/favicons/browserconfig.xml?v=gAA8GOkyAd">
<meta name="theme-color" content="#5fb66f">

<meta name="viewport" content="width=device-width, initial-scale=1">

[% PROCESS form/common_form_header_includes.tt %]

<link media="screen" href="/css/templates/[% c.config.gemeente_id %].css" type="text/css" rel="stylesheet" />

[% PROCESS layouts/common_header_includes_js.tt %]

</head>
<body data-ng-app="Zaaksysteem">

		<div id="container">

    		<header role="banner">

                <div class="inner">
            
                    <div id="logo">
                    	<a href="http://www.[% c.config.gemeente_id %].nl"></a>
                    </div>

                </div>
            
            </header>
		
				
			<div id="main" class="clearfix" role="main">
			
                
