[% USE Dumper %]

[% zaaktype = c.model('DB::Zaaktype').search({id=> zaaktype_id}) %]
[% cases = zaaktype.zaaktype_node_id.scalar.zaaktype_relaties.scalar.search({}, {}) %]
[% case_fieldname = fieldname _ '_case_index' %]

[% IF cases.count == 0 %]

  Geen deelzaken beschikbaar. (Voeg eerst een zaak toe in deze fase, en sla het zaaktype op)

[% ELSE %]

  [% kenmerk_name = 'regels_' _ case_fieldname %]
  [% value = params.$case_fieldname %]

    <select name="regels_[% case_fieldname %]">
      [% FOREACH case_index IN milestone.elementen.relaties.keys.nsort %]
          [% mcase = milestone.elementen.relaties.$case_index %]
          <option value="[% case_index %]" bla="[% mcase.id %]"
             [% IF case_index == value %]
              selected="selected"
             [% END %]
          >[% c.model('DB::Zaaktype').find(mcase.relatie_zaaktype_id).zaaktype_node_id.titel %]</option>
      [% END %]
    </select>

[% END %]


[% #PROCESS widgets/general/dropdown.tt 
  #dropdown_content = 'Sjablonen die automatisch gegenereerd worden verschijnen hier niet.'
%]
