<div zs-click-outside="vm.handleClickOutside()">
  <input
	type="text"
	ng-model="vm.query"
	ng-change="vm.handleQueryChange()"
	ng-model-options=" { updateOn: 'default blur', debounce: 250 }"
	placeholder="{{vm.getPlaceholder()}}"
  ng-focus="vm.handleFocus($event)"  
/>

  <zs-suggestion-list
    data-suggestions="vm.getSuggestions()"
    on-select="vm.handleSelect($suggestion)"
    key-input-delegate="vm.getInputDelegate()"
    data-label="{{vm.getStateLabel()}}"
    ng-if="vm.isOpen()"
    zs-position-fixed="{ reference: vm.getInputDelegate().input, autosize: true, attachment: 'top left', target: 'bottom left', flip: true, updateOn: 'default watch' }"
  >
  </zs-suggestion-list>

  <address-content></address-content>
</div>