[% USE wrap %]
<table>
    <tbody>
        <tr>
            <td class="td200">Ontvangstdatum:</td>
            <td>
                [% created = document.ontvangstdatum.set_time_zone('UTC').set_time_zone('Europe/Amsterdam'); -%]
                [% created.dmy %]
                [% created.hms %]
            </td>
        </tr>
        <tr>
            <td class="td200">Betrokkene:</td>
            <td>
                [% c.model('Betrokkene').get({}, document.betrokkene_dsn).naam %]
            </td>
        </tr>
        <tr>
            <td class="td200">Actie:</td>
            <td>
                [% jobs_map.label %]
            </td>
        </tr>
    </tbody>
</table>
<div id="email_message">
<pre>[% document.job_id.bericht | wrap(80) %]</pre>
</div>
