
[% count = 0 %]

[% manual_notifications = current_phase.manual_notifications %]

[% WHILE (item = manual_notifications.next()) %]
    [% count = count + 1 %]

    [% notification_html = BLOCK %]
        <div class="sjabloon-icon icons-zaakdossier"></div>

        <strong>
        [% UNLESS zaak.is_afgehandeld %]
            [% template_items = template_items + 1 %]
   
        [% END %]

        [% item.bibliotheek_notificaties_id.label %]

        [% UNLESS zaak.is_afgehandeld %]

        [% END %]
        </strong>
        <br/>
        <span>E-mail</span>
    [% END %]

    [% IF zaak.is_afgehandeld %]
        <a class="sjabloon emailsjabloon dossier-sidebar-item">[% notification_html %]</a>
    [% ELSE %]
        <a class="sjabloon emailsjabloon dossier-sidebar-item ezra_dialog" 
            href="[% c.uri_for('/zaak/' _ zaak.nr _ '/send_email/' _ item.id ); %]"
            title="Verstuur e-mail"
        >[% notification_html %]</a>
    [% END %]

[% END %]


