@import '../../styles/_variables';

zs-case-widget{

	.search-table-wrapper{
		&.loading{
			opacity: 0.4;
		}
	}

	.zs-table-empty{
		z-index: 2;
		text-align: center;
	}

	.compact-items-container{
		width: 100%;
	}

	.compact{

		.zs-table-empty{
			border-bottom: none;
		}

		.zs-table {
			display: block;
			zs-table-header {
				display: none;
			}
			zs-table-body{
				display: block;
			}
		}
		.zs-table-row{
			display: flex;
			flex-grow:1;
			border-bottom:1px solid rgba(160, 160, 160, 0.2);
			.zs-table-cell{
				max-width: inherit;
			}
			.table-cell{
				display: flex;
				border:none;
				&[column-id="compact"]{
					flex-grow:1;
					padding:1rem 0 1rem .75rem;
					min-width: 0px;
				}
				&[column-id="intake_actions"]{
					padding:1em 0 1em .8em;
					zs-case-intake-action-list{
						.case-intake-action-take-on,
						.case-intake-action-reject
						{
							width:28px;
							height:24px;
							line-height: 23px;
						}
						.case-intake-action-take-on{
							margin-left:8px;
						}
					}
				}
				&[column-id="actions"]{
					width:50px;
					padding:1rem .75rem 1rem .5rem;
					flex-shrink:0;
				}
			}
			&:first-child{
				border-top:1px solid rgba(160, 160, 160, 0.2);
			}
		}
	}

}
