<div class="spoof-id">
    <form action="[% post_url %]" method="POST">
        [% IF is_eherkenning %]
        <label>
            KVK Dossiernummer:
            <input type="text" name="kvk_dossiernummer" value="[% generated_id %]"/>
        </label>
        <label>
            KVK Vestigingsnummer:
            <input type="text" name="kvk_vestigingsnummer" />
        </label>
        [% ELSE %]
        <label>
            BSN:
            <input type="text" name="uid" value="[% generated_id %]"/>
        </label>
        [% END %]
        <br />
        <br />

        <input type="submit" value="Spoof!" class="button button-primary" />
    </form>
</div>
