<div class="kenmerk-veld row">
    <div class="column large-4">
        <div class="field-label field-has-help">
            <div class="field-help">
                [% PROCESS widgets/general/dropdown.tt
                    dropdown_content = 'Lijst van gemeentes die voorrang moeten krijgen bij zoeken naar adressen.',
                    icon = 'icon-question-sign',
                    icon_type = 'icon-font-awesome'
                %]
            </div>
            <label>Gemeentes die meer gewicht hebben bij BAG-zoekopdrachten</label>
        </div>
    </div>
    <div class="column large-8">
        <div class="field">
            [% PROCESS widgets/general/veldoptie.tt
                veldoptie_name      = 'bag_priority_gemeentes'
                veldoptie_type      = 'text'
                veldoptie_value     = value
                veldoptie_multiple       = 1
                veldoptie_label_multiple = 'Gemeente toevoegen'
            %]
        </div>
    </div>
</div>
