[% USE String %]
[%
rechtsvormmap = ZCONSTANTS.kvk_rechtsvormen;
rechtsvormenabled = ZCONSTANTS.kvk_rechtsvormen_enabled;
%]
<!-- WIDGET: betrokkene/bedrijf_create -->
<div class="wgt-betrokkene-bedrijf_create zsaction-container">
    <table class="table_zaakinformatie">
        [% IF betrokkene_edit %]
        <tr>
            <td>Authentiek:</td>
            <td>
                [% IF betrokkene.authenticated %]
                    <i class="icon icon-graphic icon-betrokkene-gm"></i>
                [% ELSE %]
                    <i class="icon icon-graphic icon-betrokkene-zs"></i>
                [% END %]
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Bron:</td>
            <td>
                [% IF betrokkene.authenticated %]
                    KVK
                [% ELSE %]
                    [% betrokkene.authenticatedby %]
                [% END %]
            </td>
            <td></td>
        </tr>
        [% END %]
        <tr>
            <td>KvK-nummer:</td>
            <td>
                <input  type="text"
                        name="dossiernummer"
                        class="input_medium"
                        value="[% betrokkene.dossiernummer %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Vestigingsnummer:</td>
            <td>
                <input  type="text"
                        name="vestigingsnummer"
                        class="input_medium"
                        value="[% betrokkene.vestigingsnummer %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Handelsnaam:</td>
            <td>
                <input  type="text"
                        name="handelsnaam"
                        class="input_medium"
                        value="[% betrokkene.handelsnaam %]">
                
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Rechtsvorm:</td>
            <td>
                [% currentrechtsvormid = betrokkene.rechtsvorm %]
                [% FOREACH rechtsvormid IN rechtsvormenabled %]
                    <input
                        type="radio"
                        name="rechtsvorm"
                        value="[% rechtsvormid %]"
                        [% (rechtsvormid == currentrechtsvormid ?
                        'checked="checked"' : ''
                        ) %]
                        >
                        [% rechtsvormmap.$rechtsvormid %] <br>
                [% END %]
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Correspondentie adres:</td>
            <td>
                <select
                name="briefadres"
                class="
                zsaction
                replace-select-start-zaak
                zsaction-when-1-show-correspondentieadres
                zsaction-whennot-1-hide-correspondentieadres
                ">
                    <option
                    value="1"
                    [% betrokkene.is_briefadres ? 'selected="selected"' : '' %]
                    >
                        Ja
                    </option>
                    <option
                    value="0"
                    [% ! betrokkene.is_briefadres ? 'selected="selected"' : '' %]
                    >
                        Nee
                    </option>
                </select>
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-binnenland zsaction-dest-verblijfsadres">
            <td><strong>Vestigingsadres:</strong></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Land:</td>
            <td>
                <select
                name="vestiging_landcode"
                class="
                zsaction
                zsaction-when-6030-show-vestbinnenland
                zsaction-when-6030-hide-vestbuitenland
                zsaction-whennot-6030-show-vestbuitenland
                zsaction-whennot-6030-hide-vestbinnenland
                replace-select-start-zaak
                ">
                [% FOREACH betrokkene_option IN landcodes %]
                    <option
                    value="[% betrokkene_option.value %]"
                    [% betrokkene.vestiging_landcode == betrokkene_option.value ? 'selected="selected"' : '' %]
                    >
                        [% betrokkene_option.label %]
                    </option>
                [% END %]
                </select>
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-vestbinnenland">
            <td>Vestiging straat:</td>

            <td>
                <input  type="text"
                        name="vestiging_straatnaam"
                        class="input_medium"
                        value="[% betrokkene.vestiging_straatnaam | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-vestbinnenland">
            <td>Vestiging huisnummer:</td>
            <td>
                <input  type="text"
                        name="vestiging_huisnummer"
                        class="input_mini"
                        value="[% betrokkene.vestiging_huisnummer | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-vestbinnenland">
            <td>Vestiging huisletter:</td>
            <td>
                <input  type="text"
                        name="vestiging_huisletter"
                        class="input_mini"
                        value="[% betrokkene.vestiging_huisletter| html_entity  %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-vestbinnenland">
            <td>Vestiging huisnummertoevoeging:</td>
            <td>
                <input  type="text"
                        name="vestiging_huisnummertoevoeging"
                        class="input_mini"
                        value="[% betrokkene.vestiging_huisnummertoevoeging | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-vestbinnenland">
            <td>Vestiging postcode:</td>
            <td>
                <input  type="text"
                        name="vestiging_postcode"
                        class="input_mini"
                        value="[% betrokkene.vestiging_postcode | html_entity %]"> 1234AZ
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-vestbinnenland">
            <td>Vestiging woonplaats:</td>
            <td>
                <input  type="text"
                        name="vestiging_woonplaats"
                        class="input_medium"
                        value="[% betrokkene.vestiging_woonplaats | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-vestbuitenland">
            <td>Adresregel 1:</td>
            <td>
                <input  type="text"
                        name="vestiging_adres_buitenland1"
                        class="input_medium"
                        value="[% betrokkene.vestiging_adres_buitenland1 | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-vestbuitenland">
            <td>Adresregel 2:</td>
            <td>
                <input  type="text"
                        name="vestiging_adres_buitenland2"
                        class="input_medium"
                        value="[% betrokkene.vestiging_adres_buitenland2 | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-vestbuitenland">
            <td>Adresregel 3:</td>
            <td>
                <input  type="text"
                        name="vestiging_adres_buitenland3"
                        class="input_medium"
                        value="[% betrokkene.vestiging_adres_buitenland3 | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-correspondentieadres">
            <td><strong>Correspondentie adres:</strong></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="zsaction-dest-correspondentieadres">
            <td>Correspondentie land:</td>
            <td>
                <select
                name="correspondentie_landcode"
                class="
                zsaction
                zsaction-whennot-6030-show-corrbuitenland
                zsaction-whennot-6030-hide-corrbinnenland
                zsaction-when-6030-show-corrbinnenland
                zsaction-when-6030-hide-corrbuitenland
                replace-select-start-zaak
                ">
                <option style="display:none"></option>
                [% FOREACH betrokkene_option IN landcodes %]
                    <option
                    value="[% betrokkene_option.value %]"
                    [% betrokkene.correspondentie_landcode == betrokkene_option.value ? 'selected="selected"' : '' %]
                    >
                        [% betrokkene_option.label %]
                    </option>
                [% END %]
                </select>
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-corrbinnenland zsaction-dest-correspondentieadres">
            <td>Correspondentie straat:</td>
            <td>
                <input  type="text"
                        name="correspondentie_straatnaam"
                        class="input_medium"
                        value="[% betrokkene.correspondentie_straatnaam | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-corrbinnenland zsaction-dest-correspondentieadres">
            <td>Correspondentie huisnummer:</td>
            <td>
                <input  type="text"
                        name="correspondentie_huisnummer"
                        class="input_mini"
                        value="[% betrokkene.correspondentie_huisnummer | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-correspondentieadres zsaction-dest-corrbinnenland ">
            <td>Correspondentie huisletter:</td>
            <td>
                <input  type="text"
                        name="correspondentie_huisletter"
                        class="input_mini"
                        value="[% betrokkene.correspondentie_huisletter | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-corrbinnenland zsaction-dest-correspondentieadres">
            <td>Correspondentie huisnummertoevoeging:</td>
            <td>
                <input  type="text"
                        name="correspondentie_huisnummertoevoeging"
                        class="input_mini"
                        value="[% betrokkene.correspondentie_huisnummertoevoeging | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-corrbinnenland zsaction-dest-correspondentieadres">
            <td>Correspondentie postcode:</td>
            <td>
                <input  type="text"
                        name="correspondentie_postcode"
                        class="input_mini"
                        value="[% betrokkene.correspondentie_postcode | html_entity %]"> 1234AZ
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-corrbinnenland zsaction-dest-correspondentieadres">
            <td>Correspondentie woonplaats:</td>
            <td>
                <input  type="text"
                        name="correspondentie_woonplaats"
                        class="input_medium"
                        value="[% betrokkene.correspondentie_woonplaats | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-corrbuitenland zsaction-dest-correspondentieadres">
            <td>Correspondentie Adresregel 1:</td>
            <td>
                <input  type="text"
                        name="correspondentie_adres_buitenland1"
                        class="input_medium"
                        value="[% betrokkene.correspondentie_adres_buitenland1 | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-corrbuitenland zsaction-dest-correspondentieadres">
            <td>Correspondentie Adresregel 2:</td>
            <td>
                <input  type="text"
                        name="correspondentie_adres_buitenland2"
                        class="input_medium"
                        value="[% betrokkene.correspondentie_adres_buitenland2 | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-corrbuitenland zsaction-dest-correspondentieadres">
            <td>Correspondentie Adresregel 3:</td>
            <td>
                <input  type="text"
                        name="correspondentie_adres_buitenland3"
                        class="input_medium"
                        value="[% betrokkene.correspondentie_adres_buitenland3 | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td><strong>Contactgegevens:</strong></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Contactpersoon voorletters:</td>
            <td>
                <input  type="text"
                        name="contact_voorletters"
                        class="input_mini"
                        value="[% betrokkene.contact_voorletters | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]
            </td>
        </tr>
        <tr>
            <td>Contactpersoon tussenvoegsel:</td>
            <td>
                <input  type="text"
                        name="contact_voorvoegsel"
                        class="input_medium"
                        value="[% betrokkene.contact_voorvoegsel | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]
            </td>
        </tr>
        <tr>
            <td>Contactpersoon achternaam:</td>
            <td>
                <input  type="text"
                        name="contact_geslachtsnaam"
                        class="input_medium"
                        value="[% betrokkene.contact_geslachtsnaam | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]
            </td>
        </tr>
        <tr>
            <td>Telefoonnummer:</td>
            <td>
                <input  type="text"
                        name="npc-telefoonnummer"
                        class="input_medium"
                        value="[% betrokkene.telefoonnummer | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Telefoonnummer (mobiel):</td>
            <td>
                <input  type="text"
                        name="npc-mobiel"
                        class="input_medium"
                        value="[% betrokkene.mobiel | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>E-mailadres:</td>
            <td>
                <input  type="text"
                        name="npc-email"
                        class="input_medium"
                        value="[% betrokkene.email | html_entity %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]
            </td>
        </tr>
    </table>
</div>
<!-- END WIDGET: betrokkene/bedrijf_create -->
