@import "../partials/dependencies";

$template-basic:true;

$body-bg:#eee;

$logo-url: "../../form/hellendoorn/img/logo-hellendoorn.png";
$logo-width:171px;
$logo-height:65px;
$logo-margin:0 0 0 25px;
$header-height:110px;
$header-padding:20px 0 0;
$header-bg:#fff;

$primary-color:rgba( 0, 68, 137, 0.9);
$secondary-color:#b59b5c;
$tertiary-color:#5c5b5b;
$button-id-bg-color: #333;

$button-primary-bg:$secondary-color;
$button-primary-color:white;
$button-primary-bg-hover:darken($secondary-color,10%);
$button-in-title-color:white;
$border-radius:0;

$anchor-color:$secondary-color;
$anchor-color-hover:$anchor-color;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:underline;
$font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
$font-size:85%;
$template-width:960px;

$container-border:none;

$pip-nav-background-color:$primary-color;
$pip-nav-border-color:$primary-color;
$pip-nav-border-color-active:desaturate(lighten($primary-color,50%),30%);
$pip-nav-anchor-color:#fff;
$pip-nav-anchor-color-active:#fff;
$pip-nav-bg-active:transparent;
$pip-nav-font-size:1em;
$pip-nav-bg-hover:rgba(255,255,255,.1);
$toggle-pip-nav-color:#fff;
$pip-nav-border-weight:2px;

$pip-progress-bar-bg:lighten($primary-color,50%);

$title-text-color:#fff;
$title-bg-color:$primary-color;
$title-font-size:1.4rem;
$title-font-weight:400;
$title-padding-top:1.25em;
$title-padding-bottom:1.25em;
$title-padding-right:1.25rem;
$title-padding-left:1.25rem;
$title-height:auto;

$heading1-color:$primary-color;
$heading1-fontsize: 2em;
$heading1-weight:400;

$heading2-color:$primary-color;
$heading2-fontsize:1.6em;
$heading2-weight:normal;

$stap-active-anchor-font-weight:400;
$stap-active-bg-color:$primary-color;

$icon-question-sign-color:$secondary-color;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

.pip-nav{
	ul li.current a{
		border-bottom:2px solid $pip-nav-border-color-active;
		margin-bottom:-2px;
	}
}

.pip-case-form-phase-title{
	font-weight: normal;
}