@import "../partials/dependencies";

$template-basic:true;

$body-bg:#f1f1f1;

$logo-url: "../../form/zaltbommel/img/zaltbommel.jpg";
$logo-width:326px;
$logo-height:79px;
$logo-margin:0 0 0 15px;
$logo-bg-size:cover;
$header-height:122px;
$header-padding:22px 4px 0;
$header-bg:#fff;

$primary-color:#0072bb;
$secondary-color:#329c32;
$tertiary-color:#0072bb;
$button-id-bg-color: #333;

$button-primary-bg:#b13121;
$button-primary-color:white;
$button-primary-bg-hover:darken(#b13121,10%);
$button-in-title-color:white;
$border-radius:1px;
$button-radius:5px;

$anchor-color:$primary-color;
$anchor-color-hover:#0072bb;
$anchor-text-decoration:none;
$anchor-text-decoration-hover:none;
$font-family: 'PT Sans', sans-serif;
$font-size:100%;
$template-width:960px;



$container-border:none;

$form-navigation-margin:0 0 1em;

$pip-nav-background-color:$primary-color;
$pip-nav-border-color:$primary-color;
$pip-nav-border-color-active:darken($primary-color,55%);
$pip-nav-anchor-color:#fff;
$pip-nav-anchor-color-active:#fff;
$pip-nav-bg-active:rgba(255,255,255,.2);
$pip-nav-font-size:1em;
$pip-nav-bg-hover:rgba(255,255,255,.1);
$toggle-pip-nav-color:#fff;
$pip-nav-border-weight:2px;

$pip-progress-bar-bg:lighten($primary-color,50%);

$title-text-color:#fff;
$title-bg-color:$primary-color;
$title-font-size:1.75rem;
$title-font-weight:400;
$title-padding-top:1.25em;
$title-padding-bottom:1.25em;
$title-padding-right:1.25rem;
$title-padding-left:1.25rem;
$title-height:auto;

$heading1-color:#000;
$heading1-fontsize: 2em;
$heading1-weight:700;
$heading1-font-family: 'PT Sans', sans-serif;

$heading2-color:#000;
$heading2-fontsize:1.5em;
$heading2-weight:700;
$heading2-font-family: 'PT Sans', sans-serif;

$stap-active-anchor-font-weight:400;
$stap-active-bg-color:$secondary-color;

$icon-question-sign-color:$secondary-color;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "template-media-queries";
@import "button-reset";


@media only screen and (min-width: 1200px){
#container,#main{
width: 1200px;
    }
}

@media only screen and (max-width: 1200px){
    #container,#main{
    width:100%;
    }
}
    
.pip-overview-case-title {
    font-weight: 700;
}


.pip-nav{
	ul li.current a{
		border-bottom:2px solid $pip-nav-border-color-active;
		margin-bottom:-2px;
	}
}

.pip-case-form-phase-title{
	font-weight: normal;
}

.pip-nav ul li.current a {
    border-bottom: 2px solid #004e86!important;
}

.form-navigation .stap.active a, .form-navigation .stap.active {
    color: rgb(255, 255, 255);
}

body {
    font-family: "PT Sans","-apple-system", "BlinkMacSystemFont", "Segoe UI" ,Helvetica ,Arial,sans-serif!important;
    -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.form-navigation .stap strong {
    font-weight: 700;
}

.button-primary {
    font-weight: 700;
}


.block-header {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0072bb+0,3bace2+100 */
background: #0072bb; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #0072bb 0%, #3bace2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #0072bb 0%,#3bace2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #0072bb 0%,#3bace2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072bb', endColorstr='#3bace2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.block-content, .pip-content {
    padding: 30px;
}
