[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

<div class="block">
  <div class="header"><h1>[% casetype_node.titel %]</h1></div>
  <div class="blockcontent" style="width:75% align:center">

  <h2 align="center">
      <i class="icon-warning-sign icon-font-awesome"></i>
      eIDAS
  </h2>
  <p align="center">
  Your eIDAS authentication was successful, but currently not supported
  by our system. Therefore we are unable to proceed in creating your
  case at this moment. Contact support for further assistance or more
  information.
  </p>

  <div align="center">
  <a href="[% c.get_customer_info.gemeente_portal %]"
     class="button button-primary"
     >[% c.get_customer_info.gemeente_portal %]</a>
  </div>

  </div>
</div>

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
