
[% USE Dumper %]

<div>
  <form action="/exportqueue/process_upload" method="post" enctype="multipart/form-data">
      <input type="hidden" name="form_submit" value="yes">
      <input type="file" name="my_file">
      <input type="submit" value="Send">
  </form>
</div>
