[% USE Dumper %]

[% BLOCK option_block %]
<div class="import_dependency_option import_item_inner import_object_item_option clearfix[% IF item.selected_option == option.option %] import_item_active[% END %]" option-name="[% option.option %]">
    <div class="title">
        <div class="radio-button"></div>
        <strong class="ie7">[% option.label %]</strong>
    </div>

    <div class="rfa">
        [% option_template = "beheer/object/" _ state.object_type _ "/" _ option.option _ ".tt" %]
        [% TRY %]
        [% PROCESS $option_template %]
        [% CATCH %]
        [% END %]
    </div>
</div>
[% END %]

[% BLOCK item_block %]
<div class="import_item" data-ng-controller="nl.mintlab.core.IsolationController" data-ng-init="collapsed=true">
    <form method="POST" action="[% c.uri_for('/beheer/object/import/save_option') %]" class="save_item_state ezra_no_waitstart">
        <input type="hidden" name="item_id" value="[% item.id %]" />
        <input type="hidden" name="option" value="[% item.selected.option %]" />

        <div class="import_object_item_header import_item_inner [% IF !item.selected %] import_item_error [% END %]clearfix" data-ng-click="collapsed=!collapsed" data-ng-class="{'open': !collapsed }">
            <div class="title">
                <input type="checkbox" name="process_item" [% item.selected_option != 'ignore' ? 'checked="checked"' : '' %] />

                <div class="spinner-klein"></div>
                <div class="toggle"></div>
                <strong class="ie7">[% item.label %]</strong>
            </div>

            <div class="rfa">
                <div class="action ie7">
                [% IF item.selected %]
                    <span class="ie7">[% item.selected.label %]</span>
                [% ELSE %]
                    <span class="ie7">Meerdere opties mogelijk, klik hier om te kiezen.</span>
                [% END %]
                </div>
            </div>
        </div>

        <div class="import_dependency_adjustment import_object_options import_overlay" data-ng-hide="collapsed">
            [% FOREACH option IN item.options %]
                [% IF option.option == 'ignore' %]
                    [% NEXT %]
                [% END %]
                [% PROCESS option_block %]
            [% END %]
        </div>
    </form>
</div>
[% END %]

<div id="import_validation" class="block clearfix import">
    <div class="header">Objecten importeren: [% fileref.original_name %]</div>

    <div class="blockcontent">
        <h3>Import instellingen per object</h3>

        <div class="import_group">
            <div class="import_title">
                [% IF state.object_type == 'qa' %]
                <h3 class="vraag"><span></span>Vragen en antwoorden</h3>
                [% ELSIF state.object_type == 'product' %]
                <h3 class="product"><span></span>Producten en diensten</h3>
                [% ELSE %]
                <h3 class="object"><span></span>Onbekend objecttype</h3>
                [% END %]
            </div>

            <div class="import_dependency import_group_inner">
            [% FOREACH item IN state.items %]
                [% PROCESS item_block %]
            [% END %]
            </div>

            [% IF state.items_to_delete.size %]
            <div class="import_title">
                [% IF state.object_type == 'qa' %]
                <h3 class="vraag"><span></span>Vragen die niet in het geimporteerde bestand voorkomen</h3>
                [% ELSIF state.object_type == 'product' %]
                <h3 class="product"><span></span>Producten die niet in het geimporteerde bestand voorkomen</h3>
                [% ELSE %]
                <h3 class="object"><span></span>Onbekend objecttype</h3>
                [% END %]
            </div>
            <ul>
                [% FOREACH line IN state.items_to_delete %]
                <li>[% line.title %]</li>
                [% END %]
            </ul>
            [% END %]
        </div>

        <form class="validate" method="POST" action="[% c.uri_for_action('/beheer/object/import/run') %]">
            <div class="form-actions clearfix">
                <input class="button button-primary right" type="submit" value="Importeren" name="import" />
            </div>
        </form>
    </div>
</div>
