.file-preview {
	position: fixed;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.15s 0.25s ease;
	-moz-transition: opacity 0.15s 0.25s ease;
	-o-transition: opacity 0.15s 0.25s ease;
	-ms-transition: opacity 0.15s 0.25s ease;
	transition: opacity 0.15s 0.25s ease;
	height: 593px;
	width: 469px;
	margin-left: -14px;
	padding-bottom: 4px;
}

.file-preview[data-zs-file-preview-horizontal-orientation="right"] {
	margin-left: 14px;
}

.file-preview-visible {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.15s 0s ease;
	-moz-transition: opacity 0.15s 0s ease;
	-o-transition: opacity 0.15s 0s ease;
	-ms-transition: opacity 0.15s 0s ease;
	transition: opacity 0.15s 0s ease;
}

.file-preview-content {
	width: 416px;
	padding: 8px;
	height: 583px;
	background: #fff;
	border: 1px solid #aaa;
	box-shadow: 0 0 4px rgba(0,0,0,0.15);
	position: absolute;
	z-index: 0;
	left: 0;
	overflow: hidden;
}

.file-preview-arrow {
	position: absolute;
	z-index: 1;
	width: 13px;
	height: 20px;
	background: url(/images/icons-docs.png) no-repeat -266px -38px;
	right: 0;
}

.file-preview[data-zs-file-preview-horizontal-orientation="right"] > .file-preview-content {
	left: 13px;
}

.file-preview[data-zs-file-preview-horizontal-orientation="right"] > .file-preview-arrow {
	left: 5px;
	background: url(/images/icons-docs.png) no-repeat -234px -38px;
}
