.opties{
    .opties_blok{
        padding-top: 17px;
        td{
            padding: 1em 0.3em;
        }
    }
    .opties_blok_label{
        vertical-align: top;
        strong{
            display: block;
            padding-right: 10px;
            line-height: 1.6;
            font-size: 13px;
            color: #333;
        }
    }
    .td-label{
        padding-right: 20px;
    }
    .opties_blok_vernietigingsdatum{
        div{
            padding: 3px 0;
        }
        .huidige-vernietigingsdatum{
            padding: 3px 4px;
            border: 1px dotted #bbb;
            background: #f8f8f8;
            margin-bottom: 3px;
            color: #888;
            input{
                padding: 3px;
            }
        }
    }
    .opties_blok_afdeling .col { margin:0 8px 4px 0; }
    .zaaktype_onthouden { margin:4px 0 0 0; }
}

.beheeracties-resultaat-row{
    position: relative;
    padding:4px 0;
    .kenmerk-help{
        top:50%;
        margin-top:-13px;
    }
}