<!-- widgets/beheer/import/gba/table_row.tt -->
<tr class="select-row">
    <td class="td30 center">
        <img src="/images/icon-text.png" width="16" height="16" border="0" />
    </td>
    <td class="tdvar">
        [% entry.identifier %]
    </td>
    <td class="tdvar">
        [% entry.action %]
    </td>
    <td class="tdvar">
        [% entry.kolom %]
    </td>
    <td class="tdvar">
        [% entry.old_data %]
    </td>
    <td class="tdvar">
        [% entry.new_data %]
    </td>
</tr>
<!-- widgets/beheer/import/gba/table_row.tt -->
